:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
}

* {
  padding: 0%;
  margin: 0%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
body {
  font-family: Inter;
  background-color: var(--Light-blue);
}

p {
  color: grey;
}
.page-info {
  font-size: 0.8rem;
  color: gray;
  margin-block: 0.2rem;
}
